{% extends 'base.html' %}
{% block title %}Блог{% endblock %}
{% block content %}
<div class="container">
    <h3 class="text-center my-3">Каталог постов</h3>
    <div class="row">
        {% for post in page_obj %}
            {% if post.status == 'published' %}
            <div class="col-md-6 mb-4">
                {% include 'blog_app/post_preview_include.html' %}
            </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% if page_obj.has_other_pages %}
<nav aria-label="Пагинатор">
    <ul class="pagination justify-content-center pagination-md">
        {% for page in page_obj.paginator.page_range %}
        <li class="page-item
        {% if page_obj.number == page %}
        active
        {% else %}
        {% endif %}"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
        {% endfor %}
    </ul>
</nav>
{% endif %}
{% endblock %}

