{% extends 'base.html '%}

{% block title %}Подробнее{% endblock %}
{% block content %}

<div class="conteiner mb-4">
    
    <div class="row text-center my-3 w-75 mx-auto">
        {% if user.is_authenticated and post.author == user %}
        <a href="{% url 'update_post' post.slug %}" class="btn btn-primary my-4">Редактировать пост</a>
        {% endif %}
        <h2>{{ post.title }}</h2>
    </div>
    <div class="row my-3 w-75 mx-auto fs-3">
        <p>{{ post.text }}</p>
        <span>Количество просмотров: <strong>{{ post.views }}</strong></span>
        <span>Автор: <strong>{{ post.author }}</strong></span>
        <span>Дата публикации: <strong>{{ post.published_date }}</strong></span>
        <span>Категория: <strong>{{ post.category }}</strong></span>

    </div>

    <div class="row text-center my-3 w-75 mx-auto">
        <h2>Теги:</h2>
        <div class="d-flex flex-row justify-content-center fs-3">
        {% for hashteg in post.tags.all %}
        <div class="mx-4 px-3 border border-black rounded-2">
            <a href="{{ hashteg.get_absolute_url }}">#{{ hashteg.name }}</a>
        </div>
        {% endfor %}
        </div>
    </div>
    
    
    <div class="row text-center my-3 w-75 mx-auto">
        <h3>Комментарии:</h3>
        {% if comments %}
            {% for comment in page_obj %}
                {% if comment.status == 'accept' %}
                {% include 'blog_app/comment_include.html' %}
                {% endif %}
            {% endfor %}
        {% else %}
            <p>Комментариев нет</p>
        {% endif %}
    </div>
    {% if page_obj.has_other_pages %}
    {% include 'blog_app/pagination_include.html' %}
    {% endif %}

    <div class="row w-75 justify-content-center mx-auto">
        <h3>Оставить комментарий</h3>
        <form method="post">
          {% csrf_token %}
          {% if user.is_authenticated %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-dark">Отправить</button>
          {% else %}
            <p>Пожалуйста, <a href="{% url 'login' %}?next={{ request.path }}">войдите</a>, чтобы оставить комментарий.</p>
          {% endif %}
        </form>
    </div>
</div>

{% endblock%}