{% extends 'base.html' %}
{% block title %}О проекте{% endblock %}
{% block content %}
<div class="conteiner-fluid">
    <div class="row my-3 w-75 mx-auto fs-3">
        <h2 class="text-center">Ваш Путеводитель в Мир Программирования.</h2>
        <p>Python — это один из самых популярных и универсальных языков программирования, который используется во многих областях: от веб-разработки до анализа данных и машинного обучения. В нашем блоге мы собираемся делиться полезными советами, учебниками и ресурсами как для начинающих, так и для опытных программистов.</p>
        <p>Мы обсудим основы языка, рассмотрим стандартные библиотек и популярные фреймворки, такие как Django и Flask. Также мы уделим внимание новым тенденциям в Python, таким как асинхронное программирование и использование AI и ML библиотек.</p>
        <p>Каждая статья будет включать примеры кода, рекомендации по лучшим практикам, а также ссылки на курсы и книги, чтобы помочь вам углубить свои знания. Присоединяйтесь к нашему сообществу любителей Python, чтобы делиться опытом и находить вдохновение в мире программирования!</p>
    </div>
</div>
{% endblock%}