{% extends 'base.html' %}
{% load cache %}
{% block title %}Главная{% endblock %}
{% block content %}
{% cache 600 main_page %}
<div class="container mb-1">
    <div class="d-flex flex-row flex-wrap">
        <div class="flex-fill mx-4 mb-2 h-25">
            <h3 class="my-3 text-center">Последние посты</h3>
            {% for post in last_posts %}
                {% include 'blog_app/post_preview_include.html' %}
            {% endfor %}
        </div>
        <div class="flex-fill mx-4 mb-2 h-25">
            <h3 class="my-3 text-center">Популярные посты</h3>
            {% for post in popular_posts %}
                {% include 'blog_app/post_preview_include.html' %}
            {% endfor %}
        </div>
    </div>
</div>
{% endcache %}
{% endblock %}